body{
  margin:auto;
  background-color: rgba(153, 140, 140, 0.25);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Form{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width:50rem;
  margin-left:50px;
  justify-items: center;
  align-items: center;
}
.Form .Field{
  border-radius: 0.5rem;
  margin-top:5px;
  height: 40px;
  width:75%;
  padding-left:10px;
  font-size:20px;
}
.Errors{
  color:rgb(192, 213, 7);
  font-weight: bold;
}
.Body{
  background-image:url('./assests/images/background.jpg');
  margin-left:10rem;
  margin-top:1rem;
  width:75%;
  height:98vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Body h1{
  font-size:30px;
  color:#ffffff;
  margin:0px;
  padding:0px;
}
.submits{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:50%
}
.submits Link{
  font-weight: bold;
  font-size:20;
  
}
.btn{
  background-color: #520a0a;
  margin-top:10px;
  width:30%;
  height:40px;
  font-size:20px;
  color:#ffffff;
  border-radius:1rem;
  border: 2px solid #ffffff;
  font-weight: bold;
}
.link{
  color:#ffffff;
  font-weight: bold;
}
